.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    min-width: 30vw;
    min-height: 30vh;
    justify-content: space-around;

}

.formitem{
    width:100%;
    border:none;
    font-size: 1.1rem;
    border-bottom: solid 1px black;
}

.formcontainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.signbutton{
    min-width:10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.60169px 10.4068px;
    background: #9A00B4;
    border-radius: 3.90254px;
    border:none;
    color:white;
    min-height: 5vh;
    cursor:pointer;
    border-top:100px;

}
